<div id=":1rk" class="a3s aiL "><u></u>


    <div style="background-color:#f0eee7;margin:0;padding:0">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table align="center" width="600" cellpadding="0" cellspacing="0" style="background-color:#f0eee7;font-family:Arial,sans-serif">
                            <tbody><tr>
                                <td align="center"><a href="#" title="TechJobi" style="border:none;outline:none;font-family:Arial,sans-serif;font-size:22px;font-weight:bold;display:block" target="_blank" data-saferedirecturl="#"><img src="#" alt="TechJobi" border="0" style="max-width:100%;padding-bottom:10px;font-family:Arial,sans-serif;font-size:22px;font-weight:bold;width:250px" class="CToWUd"></a></td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;border-radius:5px;font-family:Arial,sans-serif;text-align:center">
                                        <tbody>
                                            <tr>
                                                <td width="40">&nbsp;</td>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td height="20">&nbsp;</td>
                                                            </tr>
                                                            
    <tr>
        <td valign="top" align="center" style="color:#f58634;font-family:Arial,sans-serif;font-size:25px"><span class="il">TechJobi</span> Registration Successful </td>
    </tr>
    <tr>
        <td width="100%" height="20">&nbsp;</td>
    </tr>
    <tr>
        <td height="30" valign="top" style="color:rgb(85,85,85);font-family:Arial,sans-serif;font-size:18px;text-align:center">Hello {{username}},</td>
    </tr>
    <tr>
        <td valign="top" style="color:rgb(85,85,85);font-family:Arial,sans-serif;font-size:15px;line-height:20px">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>

                    <tr>
                        <td width="5%">&nbsp;</td>
                        <td width="90%" style="font-family:Arial,sans-serif;text-align:center;color:rgb(97,96,108)">To log into your account, click on the button below: </td>
                        <td width="5%">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="10" width="100%">&nbsp;</td>
    </tr>
    <tr>
        <td height="45" valign="top" align="center">
            <div>
                
                <u></u>
                <table cellspacing="0" cellpadding="0" style="width:290px!important">
                    <tbody><tr>
                        <td align="center" width="290" height="40" bgcolor="#F58634" style="border-radius:5px;color:#ffffff;display:block"><a href="https://www.myassettag.com/assettiger" style="font-size:16px;font-weight:bold;font-family:sans-serif;text-decoration:none;line-height:40px;width:100%;display:inline-block" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.myassettag.com/assettiger&amp;source=gmail&amp;ust=1623531249393000&amp;usg=AFQjCNF2H2MCjURvwlRCe1QDMAdq3OXLdw"> <span style="color:#ffffff"> Log in to your account</span> </a></td>
                    </tr>
                </tbody></table>
                <u></u>
            </div>
        </td>
    </tr>
                                                        
                                                            <tr>
                                                                <td height="20" width="100%">&nbsp;</td>
                                                            </tr>
                      
                                                            <tr>
                                                                <td height="20" width="100%">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20" valign="top" style="color:rgb(97,96,108);font-family:Arial,sans-serif;font-size:13px;text-align:center">Thanks for using <span class="il">TechJobi</span>,</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20" valign="top" style="color:rgb(97,96,108);font-family:Arial,sans-serif;font-size:13px;text-align:center;font-weight:bold"><span class="il">TechJobi</span> Tech Support</td>
                                                            </tr>
                                                          <!--  <tr>
                                                                <td height="20" valign="top" style="color:rgb(97,96,108);font-family:Arial,sans-serif;font-size:13px;text-align:center">Email: <a href="mailto:customerservice@assettiger.com" target="_blank">customerservice@<span class="il">assettiger</span>.com</a></td>
                                                            </tr>
                                                             <tr>
                                                                <td height="20" valign="top" style="color:rgb(97,96,108);font-family:Arial,sans-serif;font-size:13px;text-align:center"><strong>Phone</strong> 888-290-7750</td>
                                                            </tr> -->
                                                            <tr>
                                                                <td valign="top" style="color:rgb(97,96,108);font-family:Arial,sans-serif;font-size:13px;text-align:center"><a href="#"><span class="il">TechJobi</span>.com</a></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="40">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10">&nbsp;</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td width="10">&nbsp;</td>
                </tr>
                <tr>
                    <td height="25">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <img height="1px" width="1px" src="https://ci5.googleusercontent.com/proxy/gQIqlRtBiKYfin7Yt3NiCfRMKt0jrIJyvGmmU2pcToIAQFM4oEK6EN57yKU8MRO_zfRtWjvielptjawEECgJEiefnoeTp5UBDhcQ1aInro8=s0-d-e1-ft#http://www.smartsign.com/xp/mailtracker.ashx?xAutoId=15413050" class="CToWUd"><div class="yj6qo"></div><div class="adL">
    </div></div>