{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}


	<!-- Header Container
	================================================== -->
	
		{% block header %}
		{% include "base/header.html" %}

		{% endblock %}
	
	<!-- Intro Banner
	================================================== -->
	<!-- add class "disable-gradient" to enable consistent background overlay -->
		{% block banner %}
	
		{% endblock %}
	
	
	<!-- Content
	================================================== -->
	<!-- Category Boxes -->




		{% block content %}
	<!-- Dashboard Container -->
<div class="dashboard-container">

	<!-- Dashboard Sidebar
	================================================== -->

	{% block dash-sidebar %}
	{% include "base/dash-sidebar.html" %}
	{% endblock %}


	<!-- Dashboard Sidebar / End -->


	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Manage Jobs</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Manage Jobs</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
						</div>
						{% for items in job_details %}
						<div class="content">
							<ul class="dashboard-box-list">
								<li>
									<!-- Job Listing -->
									<div class="job-listing">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Logo -->
												<!-- <a href="#" class="job-listing-company-logo">
												<img src="images/company-logo-05.png" alt="">
											</a> -->

											<!-- Details -->
											<div class="job-listing-description">
												{% if items.status == 'Approved' %}
												<h3 class="job-listing-title"><a href="#">{{items.job_title}}</a> <span class="dashboard-status-button green"> {{items.status}}</span></h3>
												{% elif items.status ==  'Pending Approval' %}
												<h3 class="job-listing-title"><a href="#">{{items.job_title}}</a> <span class="dashboard-status-button yellow">{{items.status}}</span></h3>
												{% else %}
												<h3 class="job-listing-title"><a href="#">{{items.job_title}}</a> <span class="dashboard-status-button red">{{items.status}}</span></h3>
												{% endif %}
												<!-- Job Listing Footer -->
												<div class="job-listing-footer">
													<ul>
														<li><i class="icon-material-outline-date-range"></i> Posted on {{items.entry_date}}</li>
														<li><i class="icon-material-outline-date-range"></i> Expiring on {{items.deadline}}</li>
														<li>
															<button type="submit" class="button ripple-effect green" > Approve</button>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<!-- Buttons -->
									

									<div class="buttons-to-right always-visible">

										<a href="dashboard-manage-candidates.html" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Candidates <span class="button-info">0</span></a>
										<a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
										<a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
									
									</div>
								</li>

							</ul>
						</div>
						{% endfor %}
					</div>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2018 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->
		
		{% endblock %}
	<!-- Category Boxes / End -->
	
	
	<!-- Features Jobs -->
		{% block feature %}

		{% endblock %}
	<!-- Featured Jobs / End -->
	
	
	<!-- Features Cities -->
		{% block city %}
	
		{% endblock %}
	<!-- Features Cities / End -->
	
	
	<!-- Highest Rated Freelancers -->
		{% block freelancer %}

		{% endblock %}
	<!-- Highest Rated Freelancers / End-->
	
	
	<!-- Membership Plans -->
		{% block membership %}
	
		{% endblock %}
	<!-- Membership Plans / End-->
	
	<!-- Footer
	================================================== -->
	{% block footer %}

	{% endblock %}
	<!-- Footer / End -->

