{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load static %}


	<!-- Header Container
	================================================== -->
	
		{% block header %}
		{% include 'base/messages.html' %}
		{% if form2.errors %}
		<div class="notification error closeable">
			{{form2.errors}}
			<a class="close" href="#"></a>
		</div>
		{% endif %}
		{% include "base/header2.html" %}
	
		{% endblock %}
	
	<!-- Intro Banner
	================================================== -->
	<!-- add class "disable-gradient" to enable consistent background overlay -->
		{% block banner %}
		{% include "base/banner.html" %}
		{% endblock %}
	
	
	<!-- Content
	================================================== -->
	<!-- Category Boxes -->
		{% block content %}

		{% endblock %}
	<!-- Category Boxes / End -->
	
	
	<!-- Features Jobs -->
		{% block feature %}

		{% endblock %}
	<!-- Featured Jobs / End -->
	
	
	<!-- Features Cities -->
		{% block city %}

		{% endblock %}
	<!-- Features Cities / End -->
	
	
	<!-- Highest Rated Freelancers -->
		{% block freelancer %}

		{% endblock %}
	<!-- Highest Rated Freelancers / End-->
	
	
	<!-- Membership Plans -->
		{% block membership %}
	
		{% endblock %}
	<!-- Membership Plans / End-->
	
	<!-- Footer
	================================================== -->
	{% block footer %}
	{% include "base/footer.html" %}
	{% endblock %}
	<!-- Footer / End -->

	{% block popup %}
<!-- Sign In Popup
================================================== -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#login">Log In</a></li>
			<li><a href="#register">Register</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Login -->
			<div class="popup-tab-content" id="login">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>We're glad to see you again!</h3>
					<span>Don't have an account? <a href="#register" class="register-tab">Sign Up!</a></span>
				</div>
					
				<!-- Form -->
				<form method="post" id="login-form">
					{% csrf_token %}
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="username" id="usernmae" placeholder="Username" style="text-transform: capitalize" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required/>
					</div>
					<a href="#" class="forgot-password">Forgot Password?</a>
			
				
				<!-- Button -->
				{{form2.errors}}
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" name='log-in'><i class="icon-material-outline-arrow-right-alt"></i>Log In</button>
			</form>
				<!-- Social Login -->
				<!-- <div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons"> -->
					<!-- <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button> -->
				<!-- <button class="google-login ripple-effect">	<a href="#"><i class="icon-brand-google"></i> Log In via Google</button></a>

				</div> -->

			</div>

			<!-- Register -->
			<div class="popup-tab-content" id="register">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Let's create your account!</h3>
				</div>


				<form method="post" id="register-account-form">
					{% csrf_token %}

				<!-- Account Type -->
				<div class="account-type">
					<div>
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" value='candidate' checked/>
			
						<label for="freelancer-radio" class="ripple-effect-dark" ><i class="icon-material-outline-account-circle"></i> Candidate</label>
					</div>

					<div>
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" value='employer'/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
					</div>
				</div> 

					
				<!-- Form -->
				
					<div class="input-with-icon-left">
						<i class="icon-feather-user"></i>
						<!-- <input type="text" class="input-text with-border" name="username" id="username-register" placeholder="Username" required/> -->
						{% render_field form2.username type="text" class="input-text with-border" id="username-register" placeholder="Username"  style="text-transform: capitalize"  required="required"%}
					</div>
					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<!-- <input type="text" class="input-text with-border" name="email" id="emailaddress-register" placeholder="Email Address" required/> -->
						{% render_field form2.email type="text" class="input-text with-border" id="emailaddress-register" placeholder="Email Address" required="required"%}
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<!-- <input type="password" class="input-text with-border" name="password1" id="password-register" placeholder="Password" required/> -->
						{% render_field form2.password1 type="password" class="input-text with-border"  id="password-register" placeholder="Password" required="required"%}
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<!-- <input type="password" class="input-text with-border" name="password2" id="password-repeat-register" placeholder="Repeat Password" required/> -->
						{% render_field form2.password2 type="password" class="input-text with-border"  id="password-register" placeholder="Password" required="required"%}
					</div>
				
					{{form2.errors}}
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" name='regist'><i class="icon-material-outline-arrow-right-alt"></i>Register</button>
			</form>
				<!-- Social Login -->
				<!-- <div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				
				</div> -->

			</div>

		</div>
	</div>
</div>
<!-- Sign In Popup / End -->

	{% endblock %}