{% load static %}

<!-- Intro Banner
================================================== -->
<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner" data-background-image="{% static 'images/background-home3.jpg' %}">
	<div class="container">
		
		<!-- Intro Headline -->
		<div class="row">
			<div class="col-md-12">
				<div class="banner-headline">
					<h3>
						<strong>Hire experts or be hired for any IT job, any time.</strong>
						<br>
						<span>Thousands of small businesses use <strong class="color">TechJobi</strong> to turn their ideas into reality.</span>
					</h3>
				</div>
			</div>
		</div>
		
		<!-- Search Bar -->
		<form action="" method="post">
			{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<div class="intro-banner-search-form margin-top-95">

					<!-- Search Field -->
					<div class="intro-search-field with-autocomplete">
						<label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
						<div class="input-with-icon">
							<input id="autocomplete-input" type="text" placeholder="Location" name='job_location'> 
							<i class="icon-material-outline-location-on"></i>
						</div>
					</div>

					<!-- Search Field -->
					<div class="intro-search-field">
						<label for ="intro-keywords" class="field-title ripple-effect">What job you want?</label>
						<input id="intro-keywords" type="text" placeholder="Job Title or Keywords" name='job_type'>
					</div>

					<!-- Button -->
					<div class="intro-search-button">
						<button class="button ripple-effect" >Search</button>
					</div>
				</div>
			</div>
		</div>
		</form>
		<!-- Stats -->
		<div class="row">
			<div class="col-md-12">
				<ul class="intro-stats margin-top-45 hide-under-992px">
					<li>
						<strong class="counter">{{job_posted}}</strong>
						<span>Jobs Posted</span>
					</li>
					<!-- <li>
						<strong class="counter">3,543</strong>
						<span>Tasks Posted</span>
					</li> -->
					<li>
						<strong class="counter">{{employees}}</strong>
						<span>Employees</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>
