

        
              {% for message in messages %}
              {% if message.tags == "alert-danger" %}
              <div class="notification error closeable">
                {{ message }}
                <a class="close" href="#"></a>
              </div> 
              {% endif %}
              {% if message.tags == "alert-success" %}
              <div class="notification success closeable">
                {{ message }}
                <a class="close" href="#"></a>
              </div> 
              {% endif %}
              {% if message.tags == "alert-info" %}
              <div class="notification notice closeable">
                {{ message }}
                <a class="close" href="#"></a>
              </div> 
              {% endif %}
              {% endfor %}


              
              
<!--               
              {% for message in messages %}
              <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              </div>
              {% endfor %} -->